.app-header {
  background: linear-gradient(135deg, #f97316 0%, #ef4444 100%);
  color: white;
  width: 100%;
  
  h1 {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 1px;
    
    i {
      font-size: 2rem;
    }
  }
}

.app-title {
    font-size: 2rem;
    font-weight: 300;
    color: white;
  }